 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body {
            background-color: #f4f9f4;
            color: #333;
        }
        header {
    background: #ffffff;
    padding: 15px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
}

.logo h2 {
    color: #2e7d32;
    font-size: 24px;
}


        /* NAVBAR */
      nav {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        nav a {
            text-decoration: none;
            color: #444;
            font-weight: 500;
            transition: 0.3s;
        }

        nav a:hover {
            color: #2e7d32;
        }


        
        li{
            background-color: #e8f5e9;
            border-radius: 30px;
            border: 3px solid  #2e7d32;
            width: 80px;
            height: 40px;
            margin-left: 20px;
            list-style: none;
            
        }

        nav li a {
            color:rgb(3, 51, 3);
            text-decoration: none;
            font-weight: bold;
        
        }
        .btn {
            background: #2e7d32;
            color: white;
            padding: 8px 18px;
            border-radius: 20px;
            transition: 0.3s;
    }

        .btn:hover {
            background: white;
            color:#2e7d32 ;
            border: 2px solid #2e7d32;
            transition:0.5s ;
    }

        nav li:hover {
            background-color: #2e7d3246;
            border:3px solid white ;
            color:white ;

        }

        /* HEADER */
        .header {
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                        url('https://images.unsplash.com/photo-1500382017468-9049fed747ef');
            background-size: cover;
            background-position: center;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
        }

        .header h1 {
            font-size: 40px;
        }

        /* ABOUT CONTENT */
        .about {
            padding: 60px 20px;
            max-width: 900px;
            margin: auto;
            text-align: center;
        }

        .about h2 {
            color: #2e7d32;
            margin-bottom: 20px;
        }

        .about p {
            line-height: 1.8;
            margin-bottom: 20px;
        }

        /* MISSION SECTION */
        .mission {
            background-color: #e8f5e9;
            padding: 40px 20px;
            text-align: center;
        }

        .mission h2 {
            color: #2e7d32;
            margin-bottom: 15px;
        }

        /* FOOTER */
        footer {
            background-color: #2e7d32;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 40px;
        }
