* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f8f2;
  color: #333;
}
/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
}

.logo h2 {
    color: #2e7d32;
    font-size: 24px;
}


/* Navigation */
nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #2e7d32;
}

/* Button */
.btn {
    background: #2e7d32;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    color:#2e7d32 ;
    border: 2px solid #2e7d32;
    transition:0.5s ;
}
/* Header */
header {
  background: white;
  padding: 15px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
}

.logo h2 {
  color: #2e7d32;
}

/* Hero Section */
.hero {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url("https://images.unsplash.com/photo-1500382017468-9049fed747ef") center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero button {
  background: #4caf50;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: #2e7d32;
}

/* Products Section */
.products {
  padding: 60px 8%;
  text-align: center;
}

.products h2 {
  font-size: 32px;
  color: #2e7d32;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-bottom: 10px;
  color: #2e7d32;
}

.card-content p {
  font-size: 14px;
  margin-bottom: 15px;
}

.price {
  font-weight: bold;
  margin-bottom: 15px;
}

.card-content button {
  background: #2e7d32;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.card-content button:hover {
  background: #1b5e20;
}
/* Footer */
footer {
  background: #2e7d32;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}